<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>OS System</mat-card-title>
        <mat-card-subtitle>Sistema de Ordens de Serviço.</mat-card-subtitle>
        <img class="img" src="assets/img/work.png" alt="">
    </mat-card-header>
    <p class="texto">Empresa fictícia chamada OS System para gerenciamento de ordens de serviço,
        <br>onde monitora as ordens através dos técnicos atuantes na empresa,<br> seus clientes e ordens de serviço abertas ou encerradas.</p>
</mat-card>